.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.normalCss{
  border:1px solid red;
}

.dClass{
  text-transform: uppercase;
}

.heading{
  color:red;
}

.heading1{
  color:green;
  font-size: 30px;
  text-transform: capitalize;
}

.myFont{
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.myColor{
  color:red
}

.myText{
  text-transform: capitalize;
}

.iClass1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size:18px;
}

.iClass1{
  background-color: brown;
}

.btn{
  color:green
}

.btn-pressed{
  font-weight: bold;
}

.btn-over{
  font-style: italic
}

